<!-- Zeigt alle Notizen und Checklisten an

    Implementiert Sortierung (gepinnte Elemente oben)
    Filterfunktion nach Labels -->
<div class="main-input-container">
    <div class="input-container">
        <div class="input-box">
            <div>
                <input class="input-title" type="text" [(ngModel)]="title" placeholder="Title">
                <label>
                    <input type="checkbox" [(ngModel)]="isPinned"> Anpinnen
                </label>
            </div>
            <div class="input-content-container">
                <div *ngIf="!isChecklist">
                    <input class="input-content" type="text" [(ngModel)]="note" placeholder="Note">
                    <label>
                        <input type="checkbox" [(ngModel)]="isChecklist" (click)="addChecklistItem()"> Checkliste
                    </label>
    
                </div>
                <div *ngIf="isChecklist">
                    <div *ngFor="let item of checklistItems; let i = index">
                        <input class="input-content" type="text" [(ngModel)]="checklistItems[i].text" placeholder="Checklist Item">
                        <input type="checkbox" [(ngModel)]="checklistItems[i].checked">
                        <button (click)="removeChecklistItem(item.id)">Remove</button>
                    </div>
                    <button (click)="addChecklistItem()">Add Checklist Item</button>
                    <label>
                        <input type="checkbox" [(ngModel)]="isChecklist"> Checkliste
                    </label>

                </div>
            </div>
        </div>

        <div class="input-footer-container">
            <div class="color-selector" (click)="toggleDropdown()">
                <img class="icon" [style.backgroundColor]="selectedColor" src="assets/icons/color-white.svg" alt="">
                <div class="dropdown-menu" *ngIf="isDropdownOpen">
                    <div *ngFor="let color of colors" class="dropdown-item icon" [style.backgroundColor]="color.value"
                        (click)="selectColor(color.value);toggleDropdown()">
                    </div>
                </div>
            </div>

            <div>
                <img class="icon" src="assets/icons/img-white.svg" alt="" (click)="fileInput.click()">
                <input type="file" #fileInput (change)="onFileSelected($event)" multiple accept="image/*"
                    style="display: none;">
            </div>

            <div class="image-preview">
                <img *ngFor="let imageUrl of imageUrls" [src]="imageUrl" alt="Selected Image" class="preview-image">
            </div>



            <button class="icon" (click)="createNote()">OK</button>
        </div>
    </div>
</div>
<div class="main-note-board">
    <div *ngIf="noteService.pinnedNotes.length != 0">
        <h2>Angepinnte Notizen</h2>
        <div class="note-board">
            <div *ngFor="let note of noteService.pinnedNotes">
                <app-note [note]="note"></app-note>
            </div>
        </div>
    </div>

    <div class="note-board">
        <div *ngFor="let note of noteService.unpinnedNotes">
            <app-note [note]="note"></app-note>
        </div>
    </div>
</div>