.dropdown-menu-label {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 8px;
    border-radius: 24px;
    gap: 4px;
    box-shadow:
        0 10px 20px $shadow-color,
        0 6px 6px $shadow-color;
}