<div [style.background-color]="note.color">
    <h3>{{ note.title }}</h3>
    <div *ngIf="note.isChecklist">
      <ul>
        <li *ngFor="let item of note.checklistItems">
          <input type="checkbox" [checked]="item.checked" disabled>
          {{ item.text }}
        </li>
      </ul>
    </div>
    <div *ngIf="!note.isChecklist">
      <p>{{ note.content }}</p>
    </div>
    <div class="attachments">
      <div *ngFor="let attachment of note.attachments">
        <img [src]="attachment.url" [alt]="attachment.name" />
      </div>
    </div>
    <p *ngIf="note.createdAt != note.editAt">Bearbeitet am: {{ note.editAt | date:'medium'}}</p>
    <button (click)="noteService.deleteNotePermanently(note.id)">Endgültig Löschen</button>
    <button (click)="noteService.restoreNoteFromTrash(note)">Wiederherstellen</button>
  </div>
  