<div>
    <input type="text" [(ngModel)]="note.title" placeholder="Title">

    <div *ngIf="!note.isChecklist">
        <input type="text" [(ngModel)]="note.content" placeholder="Note">
    </div>

    <div *ngIf="note.isChecklist">
        <div *ngFor="let item of note.checklistItems; let i = index">
            <input type="text" [(ngModel)]="note.checklistItems[i].text" placeholder="Checklist Item">
            <input type="checkbox" [(ngModel)]="note.checklistItems[i].checked">
            <button (click)="removeChecklistItem(item.id)">Remove</button>
        </div>
        <button (click)="addChecklistItem()">Add Checklist Item</button>
    </div>

    <button (click)="saveNote()">Speichern</button>
    <button (click)="abortEditNote()">Abbrechen</button>
</div>