/* You can add global styles to this file, and also import other style files */
// Variablen für einfache Anpassung
$base-color: rgba(0, 0, 0, 0.1);
$hover-color: darken($base-color, 1%);
$shadow-color: rgba(0, 0, 0, 0.2);
$transition-time: 0.3s;

body {
    transition: background-color 0.3s, color 0.3s;
}
.min-height {
    height: calc(100vh - 64px);
}
body.dark-mode {
    background-color: #333;
    color: #fff;
}
input {
    background-color: transparent;
}
.dark-mode-input {
    color: #fff !important;
}

.dark-mode {
    background-color: #333 !important;
    color: #fff !important;

    .invert-svg-icon {
        filter: invert(1) hue-rotate(180deg) !important;
    }
}


.cool-shadow-box {
    // Basis-Schatteneffekt
    // box-shadow:
    // 0 10px 20px $shadow-color,
    // 0 6px 6px $shadow-color;

    // Hover-Effekt
    &:hover {
        background-color: $hover-color;
        // transform: translateY(-5px) scale(1.01);
        box-shadow:
            0 10px 20px $shadow-color,
            0 6px 6px $shadow-color;
    }

    // Aktiv-Effekt (beim Klicken)
    // &:active {
    //     transform: translateY(-3px) scale(0.99);
    //     box-shadow:
    //         10px 10px 20px $shadow-color,
    //         -10px -10px 20px lighten($shadow-color, 5%),
    //         inset 0 0 5px rgba(255, 255, 255, 0.2);
    // }
}

html,
body {
    height: 100%;

}

textarea,
input {
    outline: none;
    border: none;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    border-radius: 16px;
}

.icon {
    display: flex;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.checklist-area-border {
    border-color: rgba(0, 0, 0, 0.2);
}

.checklist-area-border:focus {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    ;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    ;
}

.color-selector {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 8px;
    border-radius: 16px;
    gap: 4px;
    box-shadow:
        0 10px 20px $shadow-color,
        0 6px 6px $shadow-color;
}

.dropdown-item {
    border-radius: 50%;
    border: solid 1px #f0f0f0;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.main-note-board {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    .note-board {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
}

.input-content {
    border: none;
    font-size: 24px;
    width: -webkit-fill-available;
    width: -moz-available;
    overflow: hidden;
    resize: none;
    transition: all 0.3s ease;

}

.input-title {
    border: none;
    font-size: 32px;
    overflow: hidden;
    resize: none;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: all 0.3s ease;

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}